Repository gotreasa/yellow-belt-minesweeper-in-nodejs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run prettier:fix, sort-package-json, typesync ./package.json --silent

.lintstagedrc:

{
    "*.js": [
      "npm run lint:fix"
    ],
    "*.{css,feature,js,json,rb,md,sh,yaml,yml}": [
      "npm run prettier:fix"
    ],
    "package.json": [
      "sort-package-json",
      "typesync ./package.json --silent"
    ]
  }

docs: set up the initial domain
  .vscode/user-stories.code-snippets
  NOTES.md
  README.md
Due: npm run prettier:fix

test: test that the board has 10 columns
  test/Board.test.js
  test/Dummy.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: board has 10 columns
  src/Board.js
  src/Dummy.js
Due: npm run lint:fix, npm run prettier:fix

feat: board has 10 columns in first row
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: board has 10 columns in all rows
  .prettierrc.js
  package.json
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix, sort-package-json, typesync ./package.json --silent

docs: add notes for pomodoro 2
  NOTES.md
Due: npm run prettier:fix

docs: update the domain details
  README.md
Due: npm run prettier:fix

docs: update the backlog
  BACKLOG.md
  NOTES.md
Due: npm run prettier:fix

feat: handle 32 rows
  NOTES.md
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle 40 columns
  BACKLOG.md
  NOTES.md
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle setting any combination of mines
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

docs: update the notes for pomodoro 3
  NOTES.md
Due: npm run prettier:fix

feat: handle the setting of mines being empty
  NOTES.md
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle -1,0 position for mine
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle -2,0 position for mine
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle 1, -1 position for mine
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle 3,0 position for mine
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle 1,10 position for mine
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix

docs: update the notes for pomodoro 4
  BACKLOG.md
  NOTES.md
Due: npm run prettier:fix

test: test that the user board is set up
  NOTES.md
  test/Game.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: set up a beginner user board
  src/Game.js
  test/Game.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle intermediate user board
  src/Game.js
  test/Game.test.js
  test/fixtures/emptyBoards.js
Due: npm run lint:fix, npm run prettier:fix

feat: handle exper user board
  src/Game.js
  test/Game.test.js
  test/fixtures/emptyBoards.js
Due: npm run lint:fix, npm run prettier:fix

feat: test setting mines for a beginner board
  BACKLOG.md
  NOTES.md
  test/Game.test.js
  test/fixtures/minesBoards.js
Due: npm run lint:fix, npm run prettier:fix

feat: setup mines on beginner board
  README.md
  src/Board.js
  src/Game.js
  test/Board.test.js
  test/Game.test.js
  test/fixtures/minesBoards.js
Due: npm run lint:fix, npm run prettier:fix

feat: setup mines for intermediate board
  NOTES.md
  src/Game.js
  test/Game.test.js
  test/fixtures/minesBoards.js
Due: npm run lint:fix, npm run prettier:fix

refactor: change all of the constants to uppercase
  test/Game.test.js
  test/fixtures/emptyBoards.js
  test/fixtures/minesBoards.js
Due: npm run lint:fix, npm run prettier:fix

feat: open bomb in square 1,1
  BACKLOG.md
  NOTES.md
  src/Game.js
  test/Game.test.js
  test/fixtures/minesBoards.js
Due: npm run lint:fix, npm run prettier:fix

feat: open bomb in square 2,1
  BACKLOG.md
  NOTES.md
  src/Game.js
  test/Game.test.js
  test/fixtures/minesBoards.js
Due: npm run lint:fix, npm run prettier:fix

feat: show 2 bombs surround position 0,1
  src/Game.js
  test/Game.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: show 1 bomb surrounds position 0,2
  src/Game.js
  test/Game.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: show 3 bombs surround position 2,2
  src/Game.js
  test/Game.test.js
Due: npm run lint:fix, npm run prettier:fix

feat: number of mines around position 0,1 is 2
  BACKLOG.md
  NOTES.md
  README.md
  src/Board.js
  test/Board.test.js
Due: npm run lint:fix, npm run prettier:fix
